$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../src/icon/fonts" !default;

$icon-medical: unquote('"\\e929"');
$icon-data-protection: unquote('"\\e928"');
$icon-doctor: unquote('"\\e926"');
$icon-calendar1: unquote('"\\e927"');
$icon-money-bag: unquote('"\\e915"');
$icon-book: unquote('"\\e916"');
$icon-user-circle-o: unquote('"\\e924"');
$icon-youtube-play: unquote('"\\e923"');
$icon-caret-down: unquote('"\\e91d"');
$icon-circle-thin: unquote('"\\e902"');
$icon-circle: unquote('"\\e903"');
$icon-map-o: unquote('"\\e904"');
$icon-map: unquote('"\\e90a"');
$icon-map-marker: unquote('"\\e90b"');
$icon-calendar-o: unquote('"\\e90c"');
$icon-calendar: unquote('"\\e90d"');
$icon-whatsapp: unquote('"\\e905"');
$icon-linkedin: unquote('"\\e906"');
$icon-instagram: unquote('"\\e907"');
$icon-facebook: unquote('"\\e908"');
$icon-facebook-f: unquote('"\\e908"');
$icon-https: unquote('"\\e925"');
$icon-home: unquote('"\\e922"');
$icon-folder: unquote('"\\e91e"');
$icon-clear: unquote('"\\e917"');
$icon-source: unquote('"\\e90e"');
$icon-topic: unquote('"\\e90e"');
$icon-double_arrow: unquote('"\\e90f"');
$icon-keyboard_arrow_up: unquote('"\\e910"');
$icon-keyboard_arrow_right: unquote('"\\e911"');
$icon-keyboard_arrow_left: unquote('"\\e912"');
$icon-keyboard_arrow_down: unquote('"\\e913"');
$icon-remove: unquote('"\\e91c"');
$icon-location_on: unquote('"\\e921"');
$icon-add: unquote('"\\e909"');
$icon-eye-blocked: unquote('"\\e91f"');
$icon-eye: unquote('"\\e920"');
$icon-star-empty: unquote('"\\e900"');
$icon-rate: unquote('"\\e900"');
$icon-star: unquote('"\\e900"');
$icon-favorite: unquote('"\\e900"');
$icon-bookmark: unquote('"\\e900"');
$icon-search: unquote('"\\e901"');
$icon-mail-envelope-open: unquote('"\\e914"');
$icon-tags: unquote('"\\e918"');
$icon-tags1: unquote('"\\e919"');
$icon-tag: unquote('"\\e91a"');
$icon-tag1: unquote('"\\e91b"');

