.btn-secondary {
    color: $white;
    transition: all .5s ease-in-out;
    position: relative;
    z-index: 1;

    &:hover {
        color: $white;
    }

    &::before {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(320deg, #3e39b4 7%, #792d6a 40%, #df6815 95%);
        transition: opacity .5s ease-in-out;
        z-index: -1;
        opacity: 0;
    }

    &:hover::before {
        opacity: 1;
    }

}

.btn-terciary {
    --bs-btn-color: var(--bs-white);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-active-color: var(--bs-white);
}
