.l-footer {
    background-color: $primary-dark;

    .btn-sociais {
        @include btn-sociais(
            $secondary,
            $secondary,
            $primary-dark,
            $secondary,
            transparent,
            $secondary
        );
    }
}

.s-bl-pw {
    a {
        &:hover {
            img {
                animation-name: pulse;
                animation-duration: .5s;
                animation-iteration-count: infinite;
            }
        }
    }
}